config/*
!config/mes_options.php
ecrire/
IMG/
local/
plugins-dist/
plugins/
prive/
squelettes-dist/
tmp/
/*.txt
/*.php
/*.png
rien.gif
node_modules/
squelettes/libs/
bower_components/
squelettes/css/*
