// Core variables
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";
@import "locals.less"; // local variables


.footer {
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  footer, .related{
    padding: 1em 0;
  }
}
