// Core variables
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";
@import "locals.less"; // local variables

.titraille {
  h1 {
    color: #222;
    margin: 2em 0;
  }
  h2 {
    font-size:26px;
    color: #222;
    margin: 2em 0;
  }
}

.corpus {
  .meta {
    text-align:right;
    color:#999;
  }
  .chapo, .texte {
    font-family: georgia;
    font-size:22px;
    line-height: 33px;
  }
  .chapo {
     color: #222
  }
  .texte {
    color: #444
  }
}

.footer {
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  footer, .related{
    padding: 1em 0;
  }
}
